@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&family=Roboto:wght@100;400;500&display=swap');
$body-font: 'Roboto', sans-serif;
$header-font: 'Poppins', sans-serif;

$background-color: #15191e;
$lightgrey: #d3d3d3;
$lightgrey-semi: #d3d3d3b6
